/* .vertical {
  width: 18rem;
}

.prj-card {
  border-radius: .5rem;
}

.avatar {
  border-radius: 50%
} */

.tag {
  margin-right: 0.65rem;
}
.HTML {
  color: #9c27b0;
}
.CSS {
  color: #ff4025;
}
.JS {
  color: #ff9c2a;
}
.API {
  color: #006400;
}
